<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>PreferenceSpecifiers</key>
        <array>
            <dict>
                <key>Title</key>
                <string>Settings</string>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
            </dict>
            <dict>
                <key>Title</key>
                <string>Language</string>
                <key>Type</key>
                <string>PSMultiValueSpecifier</string>
                <key>Key</key>
                <string>languageSelection</string>
                <key>DefaultValue</key>
                <string>Automatic</string>
                <key>Titles</key>
                <array>
                    <string>Automatic</string>
                    <string>Italiano</string>
                    <string>English</string>
                </array>
                <key>Values</key>
                <array>
                    <string>Default</string>
                    <string>Italian</string>
                    <string>English</string>
                </array>
            </dict>
        </array>
    </dict>
</plist>
